/* Colors */
:root{
    --PrimaryColor: hsl(315, 55%, 83%);
    --HoverColor: hsl(315, 51%, 78%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --whhiteColorDeam: hsl(0, 0%, 93%);
    --greyBg: hsl(0, 0%, 96%);
    --greyText: rgb(190, 190, 190);
    --inputColor: hsl(330, 12%, 97%);
    // --boxShadow: box-shadow: 0 2px 8px 2px rgba(178,178,178,0.189);
}

.offer{
    .secContainer{
        .mainContent{
            gap: 1rem;

            .singleOffer{
                border-radius: 1rem;
                overflow: hidden;
                padding: .5rem;
                box-shadow: 0 2px 8px 2px rgba(178,178,178,0.189);
            }
        }
    }
}